body {
  background-color: rgb(224, 223, 223);
}

.calculator {
  background-color: #ffffff;
  height: 500px;
  width: 300px;
  margin: 3rem 30rem;
  border-radius: 10px;
  padding: 5px;
}

.screen {
  background-color: rgb(224, 223, 223);
  height: 130px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.button-box {
  padding: 15px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
}

.button {
  height: 40px;
  line-height: 40px;  
  width: 40px;  
  font-size: 1em;
  font-weight: 600;
  border: 0px;
  border-radius: 50%;
  color: #181818;
  text-align: center;
  cursor: pointer;
}

.none {
  background-color: #ffffff;
  border: none;
}

.grey {
  background-color: rgb(237, 232, 232);
}

.pink {
  background-color: pink;
}

.equals {
  grid-column: 3 / 5;
  background-color: pink;
  border: none;
  border-radius: 6px;
  padding-right: 5px;
  margin-right: 12px;
}